Jinja2
MarkupSafe
Pillow
Werkzeug
argparse
click
gTTS
gTTS-token
imutils
itsdangerous
numpy
picamera
python-vlc
pydub
python-dateutil
requests
six
wsgiref
gpiozero
boto3
SpeechRecognition
google-api-python-client
